header a {
  font-weight: 500;
  color: #ff4f4f;
  text-decoration: inherit;
}
header a:hover {
  color: #ff0000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.article-card {
  margin: 50px auto;
  text-align: center;
  width: 70vw;
  line-height: 1.3;
}

.article-card:hover {
  background-color: rgb(203, 203, 203);
}

.vote-span {
  font-size: medium;
  width: 170px;
  border-radius: 30px;
  justify-content: space-between;
  margin: 10px auto;
  display: flex;
}

.up-button:hover { color: #ff0000; }
.down-button:hover { color: #646cff; }

.single-article {
  text-align: center;
}

.article-comments {
  text-align: left;
}

.comment-card {
  border: 1px solid;
  margin: 30px 0;
  padding-left: 10px;
}